body{
    background-color: silver;
}
nav a {
    color: greenyellow;
}
#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 61px;
}

h1{
    color: firebrick;
    border: 3px dotted gold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 500px;
    margin-top: 50px;
}
body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 24s 21s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 18s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 15s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 12s infinite;
}
figure:nth-child(5) {
  animation: xfade 24s 9s infinite;
}
figure:nth-child(6) {
  animation: xfade 24s 6s infinite;
}
figure:nth-child(7) {
  animation: xfade 24s 3s infinite;
}
figure:nth-child(8) {
  animation: xfade 24s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}